
  <h1>BUS APLIKACIJA</h1>


  <nav>
    <a (click)="toggleEditor('redVoznje')"><h3>Red voznje</h3></a>
    <br>
    <a (click)="toggleEditor('dodavanjeLinije')"><h3>Dodaj liniju</h3></a>
    <br>
    <a (click)="toggleEditor('brisanjeLinije')"><h3>Obrisi liniju</h3></a>
    <br>
    <a (click)="toggleEditor('cenovnik')"><h3>Cenovnik</h3></a>
    <br>
    <a (click)="toggleEditor('menjajCenovnik')"><h3>Menjaj cenovnik</h3></a>
    <br>
    <a (click)="toggleEditor('kupovinaKarte')"><h3>Kupi kartu</h3></a>
 
  
    <div class="absolute">
      <a (click)="toggleEditor('login')"><h3>Prijava</h3></a>
      <br>
      <a (click)="toggleEditor('registracija')"><h3>Registracija</h3></a>
    </div>
  
  
    
  </nav>
  
  <app-red-voznje *ngIf="showRedVoznje"></app-red-voznje>
  
  <app-cenovnik *ngIf="showCenovnik"></app-cenovnik>
  
  <app-login *ngIf="showLogin"></app-login>
  
  <app-kupovina-karte *ngIf="showKupovina"></app-kupovina-karte>

  <app-registracija *ngIf="showRegistracija"></app-registracija>

  <app-dodavanje-linije *ngIf="showDodavanjeLinije"></app-dodavanje-linije>

  <app-menjaj-cenovnik *ngIf="showMenjajCenovnik"></app-menjaj-cenovnik>

  <app-brisanje-linije *ngIf="showBrisanjeLinije"></app-brisanje-linije>
  
  <br>
  <br>
  
  
  <div class="image"></div>



