<!-- <div class="absolute">
  <Table border="1">
      <tr><td colspan="0">{{nazivLinije}}</td>
      <tr><td colspan="0"></td></tr>
      <tr ><td *ngFor="let ArhivaCenovnika of ArhivaCenovnikas">{{ArhivaCenovnika.Tip}}</td></tr>
  </Table>
</div> -->

<Table>
  <tr>
    <td>
        {{linijaDetalji.NazivLinije}}
    </td>
  </tr>
  <tr *ngFor="let stanica of linijaDetalji.Stanice">
      <td>{{ stanica}}
      </td>
    </tr>

      <tr *ngFor="let vreme of linijaDetalji.VremenaDolaska">
        <td>{{ vreme}}
        </td>
      </tr>
    
 
</Table>

