<div class="absolute">


  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
       <label>
         Ime:
         <input type="text" formControlName="Ime" required>
       </label>
     
       <br>
       <br>

       <label>
        Prezime:
        <input type="text" formControlName="Prezime" required>
      </label>
    
      <br>
      <br>

      <label>
        Datum rodjenja:
        <input type="text" formControlName="DatumRodjenja" required>
      </label>
    
      <br>
      <br>

      <label>
        Adresa:
        <input type="text" formControlName="Adresa" required>
      </label>
    
      <br>
      <br>

      <label>
        Email:
        <input type="text" formControlName="Mail" required>
      </label>
    
      <br>
      <br>

       <label>
         Lozinka:
         <input type="password" formControlName="Lozinka" required>
       </label>
     
       <br>
       <br>

       <button type="submit" >Prijavi se</button>

   </form>    


     
</div>

